<section>
 <div class="container">
           <div class="title mt-5 mx-auto text-center">
        <h2 class="text-uppercase  mb-3">start Framework</h2>
  
        <div class=" styling position-relative ">
            <i class="fas fa-star"></i>
        </div>
    </div>

    <div class="row gy-5 my-4">
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid rounded-2" src="images/poert1.png" alt="">
                 <div class="layer rounded-2 d-flex justify-content-center align-items-center "  data-bs-toggle="modal" data-bs-target="#exampleModal">

                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
            <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">

                    <img class="img-fluid rounded-2" src="images/poert1.png" alt="">

  
  </div>
</div>
            </div>

           
        </div>

        <div class="col-md-4">
              <div class="card">
                <img class="img-fluid rounded-2" src="images/port2.png" alt="">
                    <div class="layer rounded-2 d-flex justify-content-center align-items-center " data-bs-toggle="modal" data-bs-target="#exampleModal2">

                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
            </div>
            <!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">

                    <img class="img-fluid rounded-2" src="images/port2.png" alt="">

  
  </div>
</div>
        </div>

  

        <div class="col-md-4">
               <div class="card">
                <img class="img-fluid rounded-2" src="images/port3.png" alt="">
                    <div class="layer rounded-2 d-flex justify-content-center align-items-center  "data-bs-toggle="modal" data-bs-target="#exampleModal3">

                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
            </div>

                        <!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">

                    <img class="img-fluid rounded-2" src="images/port3.png" alt="">

  
  </div>
</div>

        </div>


        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid rounded-2" src="images/poert1.png" alt="">
                    <div class="layer rounded-2 d-flex justify-content-center align-items-center "  data-bs-toggle="modal" data-bs-target="#exampleModal">

                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
            </div>
        </div>

        <div class="col-md-4">
              <div class="card">
                <img class="img-fluid rounded-2" src="images/port2.png" alt="">
                    <div class="layer rounded-2 d-flex justify-content-center align-items-center "  data-bs-toggle="modal" data-bs-target="#exampleModal2">

                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
            </div>
        </div>

        <div class="col-md-4">
               <div class="card">
                <img class="img-fluid rounded-2" src="images/port3.png" alt="">
                    <div class="layer rounded-2 d-flex justify-content-center align-items-center "  data-bs-toggle="modal" data-bs-target="#exampleModal3">

                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
            </div>
        </div>
    </div>
 </div>








</section>