<footer>
<div class="container">
        <div class="upper-footer d-flex justify-content-around align-items-center">
        <div class="footer-location">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
        </div>
        <div class="footer-media">
            <h3>AROUND THE WEB</h3>
            <ul class="list-unstyled d-flex gap-3 justify-content-center">
                <li><i class="fab fa-facebook-f"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-linkedin-in"></i></li>
                <li><i class=" fas fa-globe"></i></li>
            </ul>
        </div>
        <div class="footer-freelancer">
            <h3>ABOUT FREELANCER</h3>
            <p class="w-75">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>

</div>

</footer>

    <div class="lower-footer d-flex justify-content-center  align-items-center text-white p-3">
        <p>Copyright © Your Website 2021</p> 
    </div>

